
<div class="container-forgot-password">
  <mat-card class="forgot-password-card">
    <mat-card-content>
      <h1 class="forgot-password-title">Reset Password</h1>
      <form (ngSubmit)="onSubmit()" #resetPasswordForm="ngForm">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="text" id="newPassword"class="form-control forgot-password-input" [(ngModel)]="newPassword" name="newPassword" required/>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="confirmPassword" id="confirmPassword" class="form-control forgot-password-input" [(ngModel)]="confirmPassword" name="confirmPassword" required/>
        </div>
        
        <div class="text-center">
          <button type="submit" class="btn forgot-password-btn"  [disabled]="!resetPasswordForm.form.valid || newPassword !== confirmPassword">
            Reset Password
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>

