.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.attractive-title {
  margin: 0;
}

.filter-field {
  width: 200px;
}

.centered-table th,
.centered-table td {
  text-align: center;
}

.centered-table th.mat-header-cell {
  font-weight: bold;
}

.centered-table .mat-row,
.centered-table .mat-header-row {
  display: flex;
  justify-content: center;
}