<div class="container mb-3">
  <mat-card class="shadow p-4 mb-5 ml-0 pl-1 bg-white rounded">
    <div class="mat-card-container">
      <div class="header-container">
        <h1 class="attractive-title">List Company</h1>

        <mat-form-field appearance="fill" class="filter-field">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="keyword" #input>
        </mat-form-field>
      </div>


      <!-- Email Invitation -->
      <div style="display: flex; justify-content: space-between; align-items: center; text-align: left;">
        <p style="margin: 0;">Email akan dihantar kepada Syarikat yang aktif sahaja.</p>
        <div style="display: flex; align-items: center;">
          <span style="margin-right: 4px;">Email Invitation</span>
          <form (ngSubmit)="submit()">
            <button type="submit" class="btn btn-success mb-2" style="background-color: #28a745; color: white;">
              Send
            </button>
          </form>
        </div>
      </div>
      <br>

      <!-- Export to Excel -->
      <div style="text-align: right;">
        <button type="submit" class="btn btn-success mb-2 me-2" (click)="exportToExcel()"
          style="background-color: #287fa7; color: white;">
          Export To Excel
        </button>
      </div><br>


      <div class="mat-elevation-z8">
        <div class="list-container" class="table-responsive">
          <table mat-table [dataSource]="dataSource" matSort class="centered-table">
            <ng-container matColumnDef="companyId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Id </th>
              <td mat-cell *matCellDef="let row"> {{row.companyId}}</td>
            </ng-container>

            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef>Company Name</th>
              <td mat-cell *matCellDef="let row"> {{row.companyName}}</td>
            </ng-container>

            <ng-container matColumnDef="pic">
              <th mat-header-cell *matHeaderCellDef> PIC </th>
              <td mat-cell *matCellDef="let row"> {{row.pic}}</td>
            </ng-container>

            <ng-container matColumnDef="email1">
              <th mat-header-cell *matHeaderCellDef> Email1 </th>
              <td mat-cell *matCellDef="let row"> {{row.email1}}</td>
            </ng-container>


            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef> Username </th>
              <td mat-cell *matCellDef="let row"> {{row.username}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox [(ngModel)]="row.status" (change)="onStatusChange(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let row">
                <div style="display: flex; gap: 8px;">
                  <button mat-icon-button color="black" (click)="view(row.companyId)" matTooltip="Semak">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" (click)="update(row.companyId)" matTooltip="Kemaskini">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="8">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20"></mat-paginator>
      </div>
    </div>
  </mat-card>
</div>