.instruction {
  font-style: italic;
  font-size: 12px;
  padding-left: 4px;
  color: gray;
}

.label {
  font-weight: bold;
}


.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
}

.label {
  font-weight: bold;
}

.month-year-picker {
  width: 300px;
}

::ng-deep .custom-tooltip {
  white-space: pre-wrap;    
  max-width: 500px !important; 
  word-wrap: break-word;      
  padding: 10px;             
  font-size: 14px;          
  position: unset !important;
}


::ng-deep .destination-tooltip {
  white-space: pre-wrap;     
  max-width: 500px !important;
  word-wrap: break-word;    
  padding: 10px;              
  font-size: 14px;            
  position: unset !important; 
}


.radio-group-flex {
  display: flex;
  gap: 100px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
}
