table {
    width: 100%;
  }
  
  .mat-header-row {
    background-color: #f5f5f5; 
  }
  
  .mat-header-cell, .mat-cell {
    padding: 16px; 
  }
  
  .custom-link {
    color: #1976d2; 
    text-decoration: none; 
  }
  
  .custom-link:hover {
    text-decoration: underline; 
  }
  