.table-container {
    display: flex;
    justify-content: center; 
}

.centered-table {
    margin: auto; 
    width: 100%; 
    max-width: 800px;
}

.centered-table th, .centered-table td {
    text-align: center;
  }
  
  .centered-table th.mat-header-cell {
    font-weight: bold;
  }
  
  .centered-table .mat-row, .centered-table .mat-header-row {
    display: flex;
    justify-content: center;
  }
  