<nav class="sb-sidenav accordion bg-opacity-80" id="sidenavAccordion" style="background-color: #2a69f1">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-footer">
                <div class="small">Log Masuk Sebagai: {{company.username}}{{userMre.username}}</div>

            </div>
            <div class="sb-sidenav-menu-heading">Menu</div>

            <a class="nav-link" routerLink="/home">
                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                Homepage
            </a>
            <div class="sb-sidenav-menu-heading">Modul</div>


            <div *ngIf="role === 'user'">
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapse1"
                aria-expanded="false" aria-controls="collapse1">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-signature"></i></div>
                Contract Registration
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapse1" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">

                    <a class="nav-link" routerLink="/addContract"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;&nbsp;Add
                        Contract</a>

                    <a class="nav-link" routerLink="/draft"><i class="fa-solid fa-pencil"></i>
                        &nbsp;&nbsp;&nbsp;Draft</a>
                    <a class="nav-link" routerLink="/registeredContract"><i class="fa-solid fa-list"></i>
                        &nbsp;&nbsp;&nbsp;Registered List</a>
                </nav>
            </div>
            </div>


            <div *ngIf="role === 'admin'">
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapse2"
                    aria-expanded="false" aria-controls="collapse2">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-building"></i></div>
                    Company
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapse2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">

                        <a class="nav-link" routerLink="/addCompany"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;&nbsp;
                            Add Company</a>
                        <a class="nav-link" routerLink="/companyList"><i class="fa-solid fa-list"></i>
                            &nbsp;&nbsp;&nbsp;List Company</a>

                    </nav>
                </div>
            </div>



            <div *ngIf="role === 'user'">
            <a class="nav-link" routerLink="/changePassword">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-unlock-keyhole"></i></div>
                Change Password
            </a>
            </div>

            <div *ngIf="role === 'user'">
            <a class="nav-link" routerLink="/userManual"  (click)="viewFile(userManuals, userManuals.userManual)">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-file"></i></div>
                User Manual
            </a>
            </div>


            <div *ngIf="role === 'admin'">
            <a class="nav-link" routerLink="/addUserManual">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></div>
                Upload User Manual
            </a>

            <a class="nav-link" routerLink="/listContract">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                Registered List
            </a>


            <a class="nav-link" routerLink="/rejectContract">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-file-circle-xmark"></i></div>
                Reject Contract
            </a>

            </div>

            <a class="nav-link" (click)="openLogoutDialog()">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                Logout
            </a>

        </div>
    </div>


</nav>